h1{
    font-size: 60px;   
    font-family: sans-serif;  
    font-weight: bold; 
}

h2{
    font: bold 30 px   sans-serif;  
}

body{
    text-align: center; 
}

header, section, footer, aside, nav, article, hgroup{
    display: block;
}


.agrupar{
    width: 1000px;  
    background-color: rgb(31, 34, 34);     
    margin: 10px auto;  
    padding: 20px;  
}

header{
    background-color: cyan;   
}

.cabezera{
    background-color: white;
    border: 1px solid black;
    
}

.cabezera h1{
    text-align: left;
    padding: 20px;

}

.menu{
    background-color: whitesmoke;
    padding: 5px 15px;  
    text-align: left;  
    border: 1px solid rgb(190, 9, 9);
}

.menu li{   
    list-style: none;
    padding: 8px;
    font: bold 20px verdana;
    display: inline-block; 
}

.seccion{
    background-color: rgb(201, 11, 11);
    margin: 20px;
    width: 58%;  
    border: 1px solid black;
    float: left;   
}

.columna{
    background-color: rgb(118, 250, 110);
    margin: 150px 0px;
    width: 35%;
    border: 2px solid rgb(60, 78, 30);
    float: left;
}

.pie{
    clear: both;
    padding: 20px;
    background-color: rgb(7, 233, 63);
    font: bold 16px times new roman;
}

.seccion article{
    background-color: whitesmoke;
    padding: 15px;
    margin: 15px;
    border: 1px solid whitesmoke;
}

.seccion h2{
    text-align: left;
}

.seccion footer{
    text-align: left;
    padding: 15px;
    color: brown;
}
.seccion p{
    text-align: justify
}

.seccion img{
    width: 500px;
    height: 300px;
    display: block;
    margin: auto;
    padding: 10px;
}
.columna blockquote{
    border: 4px solid black;
    background-color:white;
    padding: 60px;
    font: bold 12px sans-serif;
}

